body{
	background-color: #FDFEFE;
	color: black;
	font-family: Arial;
	font-size: 16px;
}

html { font-size:100%; }

@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}

.container {  
  min-height: 200px;
   padding: 10px;
}

img { max-width: 100%; }

#nav {
	background-color: #273746;
	text-align: center;
	color: #FDFEFE;
	padding: 0.5px;
	position: relative;
	
}
#nav li {
  list-style-type: none;
  text-align:center;

}
#nav li a {
  color: #FDFEFE;
  padding: 8px 16px;
  text-decoration: none;
  list-style-type: none;
}

#nav li a:hover {
  background-color: #111;
}

.containerMain {
	
 margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding: 10px 10px 350px 10px;
  margin-bottom: 100px;
  width: 100%;
}

#content {
	padding: 10px;
}

#footer {	
  position: fixed;
  margin-top: 100px;
  color: #FDFEFE;
  right: 0;
  bottom:0;
  left: 0;
  padding: 10px;
  background-color: #1C2833;
  text-align: right;
}
